<div class="container-fluid bg-gradient">
    <div class="row justify-content-center align-items-center min-vh-100">
      <div class="col-lg-4 col-md-6">
        <div class="card border-0 shadow-lg p-4 rounded-3" style="background-color: rgba(255, 255, 255, 0.9);">
          <div class="text-center">
            <img src="assets/logo.png" alt="Logo" class="img-fluid" style="max-width: 100px;">
          </div>
          <form [formGroup]="loginform" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="username" class="form-label" style="font-family: 'Poppins', sans-serif; font-size: 16px;">Email</label>
              <input type="text" class="form-control form-control-sm rounded-pill" id="email" placeholder="Enter your email" formControlName="email">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label" style="font-family: 'Poppins', sans-serif; font-size: 16px;">Password</label>
              <input type="password" class="form-control form-control-sm rounded-pill" id="password" placeholder="Enter your password" formControlName="password">
            </div>
            <div class="d-grid">
              <button type="submit" class="btn btn-dark btn-block rounded-pill" style="font-size: 16px;">Login</button>
            </div>
          </form>
          <div class="text-center mt-3">
            <p class="mb-0" style="font-size: 14px;">Don't have an account? <a routerLink="/register" class="text-primary">Register here</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  