<!-- footer.component.html -->

<footer class="text-center mt-4">
    <div class="container">
      <div class="row">
        <div class="col">
          <p style="color: #000;">Sankey Solutions</p>
        </div>
      </div>
    </div>
    <div style="background-color: #000; color: #fff; padding: 20px 0;">
      <div class="container">
        <div class="row">
          <div class="col">
            <p>&copy; 2024 All rights reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  